form
{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 2%;


}

div
{
    padding: 0.5%;
}

input
{
    border-radius: 6px;
    border-color: rgb(175, 173, 173);
    height: 25px;
    border-style: solid;
}

select
{

    border-radius: 6px;
}